*{
    margin: 0px;
    padding: 0px;
}
html,body{
    height: 100%;
}
body input span{
    font-family: "微软雅黑", Arial, sans-serif;
}
.navbar span{
    display: inline-block;
}
.navbar h1{
    /*display: inline-block;*/
    position: absolute;
    left: -9999999px;
    font-family: "Segoe UI", "Open Sans", sans-serif, serif;
    font-size: 18px;
    color: #fff;
}

.navbar{
    /*height: 50px;*/
    background-color: #0e94d8;
    box-shadow: 0px 1px 2px 0px #075979;
    position: relative;
    z-index: 10;
    margin-bottom: 0px !important;
    min-width: 900px;
}
.container-fluid{
    height: 64px;
    padding: 0px;
}
/* 表格加左边导航栏区域*/
.content-center{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    height: 90%;
    height: -moz-calc(100% - 90px);
    height: -webkit-calc(100% - 90px);
    height: calc(100% - 90px);
    min-width: 900px;
    min-height: 600px;
}
/*@media screen and (min-height: 680px) {*/
    /*.content-center{*/
        /*width: 100%;*/
        /*height: 100% !important;*/
    /*}*/
/*}*/
.smallbtn-right{
    float: right;
    color: #caeefd;
    font-family: "微软雅黑", Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: auto 2.5%;
    position: relative;
    top: 10px;
}
.smallbtn-right span{
    margin-right: 10px;
 }
.smallbtn-right label{
    color: #fff;
}
.smallbtn-right span:nth-child(2){
    margin: 0px;
}
.smallbtn-right span:nth-child(3){
    margin-right: 8px;
}
.smallbtn-right span:nth-child(5){
    margin-right: 7px;
}
.iconfont{
    font-size: 20px;
    position: relative;
    top: 3px;
}
.icon-zhong{
    font-size: 23px;
}
.icon-user1{
    font-size: 27px;
    position: relative;
    left: 0px;
    top: 1px;
}
 .mif-user,.mif-alarm,.mif-exit{
     font-size: 24px;
 }
 .mif-user{
     position: relative;
     top: -4px;
 }
 .mif-alarm{
     position: relative;
     top: -2px;
 }
#time-now,#user-name,.mif-exit{
    cursor: pointer;
}
.exit{
    display: inline-block;
    cursor: pointer;
}
.navbar>.container-fluid .navbar-brand{
    margin: auto 10px;
    margin-left: 10px;
    padding-left: 0px;
    position: relative;
}
.navbar-brand>h1{
    margin-top: 0px;
}
.mainnav-left{
    display: inline-block;
    width: 200px;
    height: 620px;
    background-color: #07b2e3;
    position: relative;
    z-index: 1;
    float: left;
    -webkit-transition:width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
}
/*@media screen and (max-width: 900px){*/
    /*.mainnav-left{*/
        /*width: 45px;*/
    /*}*/
/*}*/
.mainnav-left-scrolled{
    width: 45px;
}
@media screen and (min-height: 680px) {
    .mainnav-left{
        height: 100%;
    }
}
/*@media screen and (min-width: 1440px) {*/
    /*.mainnav-left{*/

    /*}*/
/*}*/
ul{
    width: 100%;
    height: 100%;
}
.nav-left{
    position: relative;
    width: 100%;
    height: 150px;
    list-style: none;
    margin-left: 0px;
    margin-bottom: 0px;
    /*padding-left: 15px;*/
    /*overflow: hidden;*/
    /*text-overflow: clip;*/
}
@media screen and (min-height: 680px) {
    .nav-left{
        height: 100%;
    }
}
.nav-left > li > a{
    display: block;
    height: 50px;
    line-height: 45px;
    font-family: "微软雅黑", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #d2ebf2;
    text-overflow: clip;
    overflow: hidden;
    position: relative;
}
.nav-left > li >a:visited{
    text-decoration: none;
}
.scrollmenu{
    display: block;
    height: 49px;
    line-height: 45px;
    font-family: "微软雅黑", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #c9e9f1;
    text-overflow: clip;
    overflow: hidden;
    cursor: pointer;
}
.mif-command,.mif-paper-plane,.mif-cog{
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -ms-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
    margin: 0px 10px;
    font-size: 20px;
    position: relative;
    top: -3px;
}
.mif-command{
    margin-left: 90px;
    top: 0px;
    /*margin: 0px auto;*/
}
.nav-left>li>a>.mif-paper-plane,.nav-left>li>a>.mif-cog{
    font-weight: 100;
    font-size: 20px;
    position: relative;
    top: 0px;
}
.after-scroll{
    -webkit-transition: margin 0.4s;
    -moz-transition: margin  0.4s;
    -ms-transition: margin  0.4s;
    -o-transition: margin  0.4s;
    transition: margin  0.4s;
    margin: 0px 100px 0px 10px;
}
@media screen and (max-width: 900px) {
    .after-scroll{
        margin: 0px 10px;
    }
}
/*@media screen and (min-width: 1400px) {*/
    /*.mif-menu,.mif-paper-plane,.mif-cog{*/
        /*margin: 0px 20% 0px 25%;*/
    /*}*/
/*}*/
.nav-left >li >ul >li:first-child{
    margin-top: 12px;
}
.nav-left > li > ul > li > a > span{
    margin-left: 36px;
    margin-right: 10px;
    font-size: 16px;
}
.nav-left li li [class^=mif]{
    position: relative;
    top: -2px;
}
.nav-left > li >a{
    border-top: 1px solid #4bccef;
    border-bottom: 1px solid #4bccef;
    cursor: pointer;
}
.nav-left > li > a:link,.nav-left > li > a:visited,.nav-left > li > a:hover,.nav-left > li > a:active{
    text-decoration: none;
    outline: none;
}
.nav-left > li > a:hover{
    background-color: #ffb400;
    color: #fff;
    border-color: #ffb400;
    box-shadow: -2px 2px 3px 1px #259ccf;
}
.nav-left > li>.a1-click{
    background-color: #ffb400;
    box-shadow: -2px 2px 3px 1px #259ccf;
    color: #fff;
    border-color: #ffb400;
}
.nav-left > li > ul{
    margin-left: 0px;
    display: none;
}
.nav-left li li a:link,.nav-left li li a:visited,.nav-left li li a:hover,.nav-left li li a:active{
    text-decoration: none;
    outline: none;
}
.nav-left li li a:hover{
    background-color: #4bccef;
}
.nav-left li li .a2-click{
    background-color: #4bccef;
    color: #fff;
}
.nav-left li li{
    list-style: none;
    height: 42px;
    line-height: 40px;
}
.nav-left li li a{
    font-family: "微软雅黑", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: block;
    height: 30px;
    line-height: 30px;
    color: #d3ebf2;
    overflow: hidden;
    cursor: pointer;
}
.nav-left li li a:hover{
    color: #fff;
}
.mif-chevron-thin-left{
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    font-size: 19px;
    font-weight: lighter;
    margin-top: 15px;
    margin-right: 10px;
}
.mif-left-open{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.triangle-left{
    visibility: hidden;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-right-color: #f0f5f4;
    margin: 0px;
    position: relative;
    top: 13px;
    left: 1px;
    z-index: 3;
    float: right;
}
.icon-point{
    text-align: center;
    margin: 0px 5px;
}
.maindata{
    position: relative;
    z-index: 6;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
    display: inline-block;
    width: 85%;
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    min-width: 700px;
    height: 100%;
    min-height: 620px;
    background-color: #eff4f5;
}
/*@media screen and (max-width: 900px) {*/
    /*.maindata{*/
        /*width: 700px;*/
    /*}*/
/*}*/
.maindata-scrolled{
    width: 95%;
    width: -moz-calc(100% - 45px);
    width: -webkit-calc(100% - 45px);
    width: calc(100% - 45px);
}
.page-tabs{
    height: 50px;
    width: 95%;
    margin: 0px auto;
    position: relative;
    z-index: 10;
}
.page-tabs ul{
    list-style: none;
    margin-bottom: 0px;
    position: relative;
    top: 12px;
    z-index: 11;
    height: 40px;
}
.page-tabs ul li{
    display: inline-block;
    float: left;
}
.page-tabs ul li a{
    font-family: "微软雅黑", Arial, sans-serif;
    text-decoration: none;
    display: block;
    height: 40px;
    padding: 0px 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    color: #4c4c4c;
    position: relative;
    z-index: 10;
    line-height: 40px;
}
.page-tabs ul li a>i{
    visibility: hidden;
}
.page-tabs ul li a:hover{
    /*background-color: #f4f5fa;*/
    border-bottom: none;
    z-index: 1;
    color: #07b2e3;
}
a:focus{
    outline: none;
}
.page-tabs ul li a:hover > i{
    visibility: visible;
}
.page-tabs ul li a i{
    /*width: 14px;*/
    /*height: 14px;*/
    margin-right: 10px;
    color: #878a8a;
    font-style: normal;
    font-size: 20px;
}
.page-tabs ul li a>i:hover{
    /*border: 1px solid #878a8a;*/
    /*background-color: #878a8a;*/
    color: #000;
    /*-webkit-border-radius: 100%;*/
    /*-moz-border-radius: 100%;*/
    /*border-radius: 100%;*/
}
.page-tabs ul .tab-active> a{
    border: 1px solid #d5d7dc;
    border-bottom-color: transparent;
    background-color: #eff4f5;
    color: #07b2e3;
    font-weight: 600;
}
.page-tabs ul .tab-active>a>i{
    visibility: visible;
}
.page-tabs ul .tab-active>a:hover{
    border-bottom: transparent;
}

/*使用layui产生小标签时小标签样式*/
/*.layui-tab{*/
    /*margin-top: 0px;*/
/*}*/
/*.layui-tab-title{*/
    /*background-color: #fff;*/
    /*padding: 10px 2.5% 0px 2.5%;*/
    /*height: 50px;*/
    /*border-bottom-color: #d5d7dc;*/

/*}*/
/*.layui-tab-content{*/
    /*padding: 0px;*/
/*}*/
/*#table1>.layui-tab-close{*/
    /*display: none;*/
/*}*/
/*.layui-tab-title li{*/
    /*color: #4e4e4e;*/
    /*font-size: 16px;*/
/*}*/
/*.layui-tab-title li:hover{*/
    /*/!*background-color: #f4f9fa;*!/*/
    /*/!*border-bottom: #eff4f5;*!/*/
    /*color: #07b2e3;*/
/*}*/
/*.layui-tab-title li:hover .layui-tab-close{*/
    /*visibility: visible;*/
/*}*/
/*.layui-tab-close{*/
    /*visibility: hidden;*/
/*}*/
/*.layui-tab-title .layui-this{*/
    /*background-color: #eff4f5;*/
    /*color: #07b2e3;*/
    /*font-weight: 600;*/
    /*border-color: #d5d7dc;*/
/*}*/
/*.layui-tab-title .layui-this .layui-tab-close{*/
    /*visibility: visible;*/
/*}*/
/*.layui-tab-title .layui-this:hover{*/

/*}*/
/*.layui-tab-title .layui-this:after{*/
    /*border-bottom: #d5d7dc;*/
/*}*/
#tab-iframe{
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
    display: inline-block;
    width: 100%;
    height: 91%;
    height: calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    min-height: 580px;
    border: none;
    background-color: #eff4f5;
    position: relative;
    z-index: 6;
    overflow: hidden;
}
#tab-iframe iframe{
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
    display: inline-block;
    width: 100%;
    height: 100%;
    min-height: 580px;
    border: none;
    background-color: #eff4f5;
    position: relative;
    z-index: 6;
}
/*#maindata-frame{*/
    /*-webkit-transition: width 0.5s;*/
    /*-moz-transition: width 0.5s;*/
    /*-ms-transition: width 0.5s;*/
    /*-o-transition: width 0.5s;*/
    /*transition: width 0.5s;*/
    /*display: inline-block;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*min-height: 580px;*/
    /*border: none;*/
    /*background-color: #eff4f5;*/
    /*position: relative;*/
    /*z-index: 6;*/
/*}*/
.page-header{
    font-weight: 300;
    color: #818181;
    margin: 10px 0px 0px 2.5% !important;
    border-bottom: none;
}

/*改变bootstrap页面label，以免影响其他页面样式*/
label {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.firstpage-footer{
    clear: both;
    width: 100%;
    height: 20px;
    background-color: #0e94d8;
    position: relative;
    z-index: 10;
    min-width: 900px;
}


